.page-cont-with-image {
    display: inline-flex;
}

.image-with-cont-div {
    margin-left: 1em;
    padding-bottom: 1em;
}

.image-with-cont {  
    border-style: solid;
    border-color: var(--sl-color-white);
    padding: 0.5em;
}
